h1,
h2,
h3,
h4,
h5 {
  font-family: "Rokkitt", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/space.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  color: white;
  font-size: 2.6rem;
  line-height: 1;
}

.title-color {
  color: #d500f9;
  text-shadow: 2px 2px 3px black;
  font-size: 3rem;
  font-weight: 700;
}
