.example-spacer {
  flex: 1 1 auto;
}

.topflix {
  font-family: "Rokkitt", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(277, 95%, 65%);
  font-size: 2rem;
  font-weight: 900;
  padding-left: 0px;
}

.mat-toolbar {
  border-bottom: 3px solid white;
}
.mat-toolbar.mat-primary {
  background: hsl(212, 48%, 24%);
}
